body {
    background-color: #FFF5E1;
}

#cutsomer-dashboard .customer-services-container{
    min-height: 50vh;
    min-width: auto;
    border: solid blue;
    border-radius: 10px;
    overflow-y: scroll;

}

.pointer-cursor {
    cursor: pointer; 
}